<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="moralis.endpoint.base" value="server" />
		<add key="moralis.endpoint.cloudfunctions" value="server/functions" />
		<add key="moralis.endpoint.fileservice" value="server/files" />
		<add key="moralis.endpoint.classes" value="server/classes" />
	</appSettings>
</configuration>